In [6]:
# Import statements and creating the dataframe to be used.

import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from scipy.stats import linregress
%matplotlib inline

df = pd.read_csv('Six_Nations_Results.csv')
df.fillna(0, inplace=True)
df.head()

,Index,Position,Nation,Won,Drawn,Lost,For,Against,Diff,Tries,Table,Year
0,0,1,England,4,0,1,146,81,65,16,19,2017
1,1,2,Ireland,3,0,2,126,77,49,14,14,2017
2,2,3,France,3,0,2,107,90,17,8,14,2017
3,3,4,Scotland,3,0,2,122,118,4,14,14,2017
4,4,5,Wales,2,0,3,102,86,16,8,10,2017

In [27]:
Nations = ['England', 'Scotland', 'Wales', 'Ireland', 'Italy', 'France']

def total_tries(country):

    sum_tries = 0
    for i in df['Index']:
        for j in df['Nation']:
            if j == 'Wales':
                sum_tries += df.at[i, 'Tries']
            else:
                continue
    
    return sum_tries

print total_tries('Wales')

16
0
14
1
8
2
14
3
8
4
6
5
13
6
17
7
15
8
11
9
7
10
8
11
8
12
18
13
13
14
9
15
8
16
6
17
16
18
14
19
11
20
9
21
4
22
7
23
9
24
5
25
7
26
5
27
5
28
6
29
297

In [29]:
df.at[i, 'Tries']

ValueError: At based indexing on an integer index can only have integer indexers