In [32]:
# Import statements and creating the dataframe to be used.

import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from scipy.stats import linregress
%matplotlib inline

df = pd.read_csv('Six_Nations_Results.csv')
df.fillna(0, inplace=True)
df.head()

,Index,Position,Nation,Won,Drawn,Lost,For,Against,Diff,Tries,Table,Year
0,0,1,England,4,0,1,146,81,65,16,19,2017
1,1,2,Ireland,3,0,2,126,77,49,14,14,2017
2,2,3,France,3,0,2,107,90,17,8,14,2017
3,3,4,Scotland,3,0,2,122,118,4,14,14,2017
4,4,5,Wales,2,0,3,102,86,16,8,10,2017

In [47]:
Nations = ['England', 'Scotland', 'Wales', 'Ireland', 'Italy', 'France']

def total_tries(country):

    sum_tries = 0
    sum_tries = df.loc[df['Nation'] == country, 'Tries'].sum()
    return sum_tries

print total_tries('England')

66

In [57]:
print 

for i in Nations:
    print total_tries(i)

0
0
0
0
0
0